* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #0f0d0e;
  height: 100vh;
  font-family: 'Outfit', sans-serif;

}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.time-container {
  padding: 4%;
}

.timer {
  font-size: 60px;
  color: #f9f4da;
  font-family: 'Paytone One', sans-serif;
}

.date,
.day {
  text-align: center;
  color: red;
}


/* searbar */

.bar {
  margin: 0 auto;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.searchbar {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
  background-color: #ffebcd00;
  color: #ffff;
  padding: 0 2.5%;
}

.voice {
  height: 20px;
  position: relative;
  top: 5px;
  left: 10px;
}

.border-2 {
  border: 2px solid red;
  width: 10px;
  height: 10px;
}

/* Customizer */

.customizer-container {
  width: 100%;
  padding: 4% 0;
  display: flex;
  justify-content: space-evenly;

}

.custom-items {
  text-align: center;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: #ffff;
  /* border: 2px solid green; */
  padding: 1%;
  border-radius: 10%;
}

.grid-parent:first-child {
  background-color: #7b5ea7;
}

.grid-parent:nth-child(2) {
  background-color: #f6ba33;
}

.grid-parent:nth-child(3) {
  background-color: #ee8ba3;
}

.grid-parent:nth-child(4) {
  background-color: #f9f4da;
}

img.c-icon {
  width: 30px;
  height: auto;
}

p.c-text {
  font-size: 12px;
}